<%- include('../partials/header.ejs') %>

<!-- Banner -->

<div class="container-fluid d-flex flex-row px-3 pt-4" style="height: 75px; background-color: rgb(0, 0, 0);">
    &emsp;
    <h5 style="color: white; text-transform: uppercase;">
        <span class="dot" style="background-color: rgb(255, 0, 98); margin-bottom: 1px;"></span>
        &nbsp;New Movies
    </h5>
</div>
<form action="/movies/new" method="POST" enctype="multipart/form-data">
    <div class="container-fluid bg-dark pt-1" style="height: 100%; width: 100%;">
        <div class="container-fluid mt-5 mb-5" style="width: 800px;">
            
            <div class="mb-5">
                <h5 style="color: white;">Name</h5>
                <input type="text" class="form-control" required="required" name="movies[name]" placeholder="ex. Mortal Kombat">
            </div>
            <h5 class="mb-3" style="color: white;">Description</h5>
            <div class="mb-5 mx-3">
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Desc</label>
                    <input type="text" class="form-control" required="required" name="movies[desc]" placeholder="ex. This story has been started from ...">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Genre</label>
                    <input type="text" class="form-control" required="required" name="movies[genre]" placeholder="ex. Action/Sci-fi">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Director</label>
                    <input type="text" class="form-control" required="required" name="movies[director]" placeholder="ex. Tortlew Wutthipat">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Date</label>
                    <input type="text" class="form-control" required="required" name="movies[date]" placeholder="ex. October 17, 2000">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Runtime</label>
                    <input type="number" class="form-control" required="required" name="movies[runtime]" placeholder="ex. 112">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Score</label>
                    <input type="number" class="form-control" required="required" name="movies[score]" placeholder="ex. 10.0">
                </div>
            </div>

            <h5 class="mb-3" style="color: white;">Media</h5>
            <div class="mb-5 mx-3">       
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Poster</label>
                    <input type="file" class="form-control" required="required" name="image" accept="image/*">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Logo</label>
                    <input type="file" class="form-control" required="required" name="logo" accept="image/*">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Big scale picture</label>
                    <input type="file" class="form-control" required="required" name="banner" accept="image/*">
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;">Trailer</label>
                    <input type="url" class="form-control" name="movies[trailer]" required="required" placeholder="Youtube embed URL with no-cookie         ex. https://www.youtube-nocookie.com/embed/...">
                </div>
            </div>

            <div style="height: 45px;"></div>
            <div class="container-fluid" style="height: 100%; position: relative;">
                <button class="btn btn-outline-light" type="submit" style="height: 50px; width: 100px; bottom: 15px; right: 15px; position: absolute;">Submit</button>
            </div>
                
        </div>
    </div>
</form>


<%- include('../partials/footer.ejs') %>